@charset "ISO-8859-1";

body {
	background: url(sfondo_riadattato.jpg);
	background-size: cover;
}

#fotoUtente {
	width: 10.29%;
	height: 7.29%;
	position: absolute;
	left: 85.43%;
	top: 13.14%;
}

#nomeUtente {
	position: absolute;
	left: 85.43%;
	top: 20.43%;
	color: white;
	font-size: 16px;
	background-color: rgba(0,0,0,0.7);
}

.box {
	width: 8%;
	height: 7%;
	position: absolute;
	left: 46%;
	top: 13.14%;
	background-color: rgba(0,0,0,0.7);
}

p {
	color: white;
	font-size: 24px;
	position: absolute;
	left: 23%;
}

.button {
	width: 40%;
	height: 8.57%;
	position: absolute;
}

#chooseRestaurant {
	left: 7.14%;
	top: 37.14%;
}

#scheduleTrip {
	left: 7.14%;
	top: 52.86%;
}

#seeFavRestaurants {
	left: 52.86%;
	top: 37.14%;
}

#seeTrip {
	left: 52.86%;
	top: 52.86%;
}

#logout {
	left: 7.14%;
	top: 68.57%;
}

#seeNotifications {
	left: 52.86%;
	top: 68.57%;
}