@charset "ISO-8859-1";

body {
	background: url(sfondo_riadattato.jpg);
	background-size: cover;
}

.button{
	font-weight:bold;
}

#fotoUtente {
	width: 10.29%;
	height: 7.29%;
	position: absolute;
	left: 85.43%;
	top: 13.14%;
}

#home {
	width: 20%;
	height: 6.43%;
	position: absolute;
	left: 4.29%;
	top: 4.71%;
}

#scheduleTrip {
	width: 32.86%;
	height: 6.43%;
	position: absolute;
	left: 27.14%;
	top: 4.71%;
}

#chooseRestaurant {
	width: 32.86%;
	height: 6.43%;
	position: absolute;
	left: 62.86%;
	top: 4.71%;
}

#back {
	width: 9.29%;
	height: 6.43%;
	position: absolute;
	left: 4.29%;
	top: 13.14%;
	cursor: pointer;
}


#saveFavourite {
	width:24.5%;
	height: 6.43%;
	left: 4.29%;
	top: 80%;
	position: absolute;
}

#readReviews {
	width: 24.5%;
	height: 6.63%;
	left: 37.53%;
	top: 80%;
	position: absolute;
}

#writeReview {
	width: 24.5%;
	height: 6.63%;
	left: 69.53%;
	top: 80%;
	position: absolute;
}

#celFilter {
	left: 33%;
	top: 20%;
	position: absolute;
}

#fcel {
	left: 37%;
	top: 20%;
	color:white;
	position: absolute;
}

#vegFilter {
	left: 50%;
	top: 20%;
	color: white;
	position: absolute;
}

#fveg {
	left: 54%;
	top: 20%;
		color:white;
	position: absolute;
}

#restaurantsScroll {
	left: 15%;
	top: 50%;
	position: absolute;
}

#addrtx {
	left: 35%;
	top: 50%;
	position: absolute;
}

#votetx {
	left: 55%;
	top: 50%;
	position: absolute;
}

#rest {
	left: 35%;
	top: 45%;
	color:white;
	position: absolute;
}

#avg {
	left: 55%;
	top: 45%;
	color:white;
	position: absolute;
}

#updateRest {
	width:15%;
	height: 6.43%;
	left: 40%;
	top: 37%;
	position: absolute;
}

#updateInfo {
	width:12%;
	height: 6.43%;
	left: 41%;
	top: 65%;
	position: absolute;
}


#genericError {
	position: absolute;
	left: 25%;
	top: 16%;
	color: red;
}

#notselectedRest {
	position: absolute;
	left: 40%;
	top: 70%;
	color: red;
}

#loginError {
	position: absolute;
	left: 40%;
	top: 75%;
	color: red;
}

#nomeUtente {
	position: absolute;
	left: 85.43%;
	top: 20.43%;
	color: white;
	font-size: 16px;
	background-color: rgba(0,0,0,0.7);
}